//  Latest compiled and minified CSS
link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css', rel='stylesheet')
//  Latest compiled JavaScript
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js')
script(src='index.js')
link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css')
meta(charset='UTF-8')
title Postzegels
nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
    .container-fluid
        a.navbar-brand(href='/') Postzegels.be
        .collapse.navbar-collapse#mynavbar
            ul.navbar-nav.me-auto
                li.nav-item
                    a.nav-link(href='/') Home
                li.nav-item
                    a.nav-link(href='/postzegels') Alle postzegels
                li.nav-item
                    a.nav-link(href='/zoek') Zoek postzegels
        ul.nav.navbar-nav.navbar-right
            li.nav-item#login
                a.nav-link
                    i.bi.bi-box-arrow-in-right Login
            li.nav-item#logout
                a.nav-link
                    i.bi.bi-box-arrow-right Logout
            li.nav-item#signup
                a.nav-link(href='/signup')
                    i.bi.bi-box-arrow-in-up Sign up
.container#main


    script(src="../javascript/postzegel.js", type="module")
    script(src="../javascript/common.js", type="module")
